# CyanogenMod Performance Profiles

# Powersave
on property:sys.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1183000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "403000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersafe"

# Balanced
on property:sys.perf.profile=1
	write /proc/cpufreq/cpufreq_limited_max_freq_by_user "2158000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "2158000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "403000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
	write /sys/devices/system/cpu/cpufreq/interactive/target_loads "95 403000:75 806000:81 1183000:84 1326000:87 1482000:90 1664000:93 1885000:96 2158000:99"
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq "806000"
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load "85"
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate "40000"
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time "10000"
	write /sys/devices/system/cpu/cpufreq/interactive/above_highspeed_delay "20000"
	write /sys/devices/system/cpu/cpufreq/interactive/timer_slack "10000"
	write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor "100000"

# Performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "2158000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "403000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"

on property:sys.boot_completed=1
# Switch to balanced mode after boot for better UX
    setprop sys.perf.profile 1
# Set Entropy
	write /proc/sys/kernel/random/read_wakeup_threshold "2048"
	write /proc/sys/kernel/random/write_wakeup_threshold "4096"
	
